mat-card {
  border-radius: 0;
  height: 85vh;
  position: relative;
  background-image: url('https://d0.tubitv.com/web-k8s/dist/img/964df397c603.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 67%;
}

mat-card-header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
}

mat-card-title {
  color: white;
  font-size: 24px;
  font-weight: 500;
}

mat-form-field {
  padding: 10px;
  width: 300px;
}

mat-card-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  gap: 10px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

button:disabled {
  background-color: red;
  color: white;
}
