h1, h2, h4 {
  display: flex;
  color: white;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

label {
  margin: 0.5rem;
}

input {
  color: black;
  margin: 0.5rem;
}

button {
  margin: 5px;
}

.register-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url('https://d0.tubitv.com/web-k8s/dist/img/964df397c603.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 67%;
  padding: 8rem 0;
}

.form-container {
  color: white;
}

.btn-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem 0;
}

.btn {
  width: 100%;
}
