<div class="register-container">
  <h1>Let's get you set up</h1>
  <h2>It's free. No subscription required</h2>
  <div class="btn-container">
    <button class="btn google">Register via Google</button>
    <button class="btn facebook">Register via Facebook</button>
  </div>
  <h4>Register via Email</h4>
  <div class="form-container">
    <form>
      <div>
        <label for="firstname">First Name</label>
        <input type="text" id="firstname" name="firstname">
      </div>
      <div>
        <label for="username">Username</label>
        <input type="text" id="username" name="username">
      </div>
      <div>
        <label for="password">Password</label>
        <input type="password" id="password" name="password">
      </div>
      <button type="submit">Next</button>
    </form>
  </div>
</div>
