<div class="register-container">
  <h1>Let's get you set up</h1>
  <h2>It's free. No subscription required</h2>
  <div class="form-container">
    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
      <div *ngIf="currentStep === 0">
        <div>
          <label for="username">Username</label>
          <input type="text" id="username" name="username" formControlName="username" required>
          <div *ngIf="registerForm.get('username')?.invalid && registerForm.get('username')?.touched">
            <div *ngIf="registerForm.get('username')?.errors?.['required']">Username is required</div>
          </div>
        </div>

        <div>
          <label for="email">Email</label>
          <input type="email" id="email" name="email" formControlName="email" required>
          <div *ngIf="registerForm.get('email')?.invalid && registerForm.get('email')?.touched">
            <div *ngIf="registerForm.get('email')?.errors?.['required']">Email is required</div>
            <div *ngIf="registerForm.get('email')?.errors?.['email']">Invalid email format</div>
            <div *ngIf="registerForm.get('email')?.errors?.['emailExists']">Account already created with this email</div>
          </div>
        </div>

        <div>
          <label for="password">Password</label>
          <input type="password" id="password" name="password" formControlName="password" required>
          <div *ngIf="registerForm.get('password')?.invalid && registerForm.get('password')?.touched">
            <div *ngIf="registerForm.get('password')?.errors?.['required']">Password is required</div>
            <div *ngIf="registerForm.get('password')?.errors?.['minlength']">Password must be at least {{ passwordMinLength }} characters</div>
          </div>
        </div>

        <div>
          <button
            type="button"
            (click)="nextRegisterStep()"
            [disabled]="!(registerForm.controls['username'].valid && registerForm.controls['email'].valid && registerForm.controls['password'].valid)"
          >
            Next
          </button>
        </div>
      </div>

      <div *ngIf="currentStep === 1">
        <div>
          <label for="role">Role</label>
          <select id="role" name="role" formControlName="role" required>
            <option value="USER">User</option>
            <option value="ADMIN">Admin</option>
            <option value="SUPERUSER">Superuser</option>
          </select>
          <div *ngIf="registerForm.get('role')?.invalid && registerForm.get('role')?.touched">
            <div *ngIf="registerForm.get('role')?.errors?.['required']">Role is required</div>
          </div>
        </div>

        <div>
          <label for="tmdb_key">TMDB API Key</label>
          <input type="text" id="tmdb_key" name="tmdb_key" formControlName="tmdb_key" required>
          <div *ngIf="registerForm.get('tmdb_key')?.invalid && registerForm.get('tmdb_key')?.touched">
            <div *ngIf="registerForm.get('tmdb_key')?.errors?.['required']">API key is required</div>
            <div *ngIf="registerForm.get('tmdb_key')?.errors?.['minlength']">API key must be at least {{ apiKeyMinLength }} characters</div>
          </div>
        </div>

        <div>
          <button type="button" (click)="prevRegisterStep()">Back</button>
          <button type="submit" [disabled]="!registerForm.valid">Sign Up</button>
        </div>
      </div>
    </form>
  </div>
</div>
