a {
  color: white;
  text-decoration: none;
}

.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: #26262d;
  color: white;
}

.nav-link {
  padding: 0 1rem;
}

.options {
  display: flex;
}

.account {
  display: flex;
}

.signout-btn {
  border: 1px solid white;
  border-radius: 5px;
  padding: 3px;
  margin: 5px;
  color: #26262d;
  background-color: white;
}
