h1 {
  font-size: 48px;
  font-weight: 700;
  line-height: 64px;
  letter-spacing: .21px;
}

.faq-section-container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: white;
  width: 100%;
  padding-top: 8rem;
  padding-bottom: 8rem;
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.title {
  font-size: 48px;
  font-weight: 700;
  line-height: 64px;
  letter-spacing: .21px;
  margin-bottom: 20px;
}

.questions {
  // TODO
}
