h1 {
  font-size: 48px;
  font-weight: 700;
  line-height: 64px;
  letter-spacing: .21px;
}

.devices-section-container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: white;
  width: 100%;
  padding-top: 8rem;
  padding-bottom: 8rem;
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.title {
  font-size: 48px;
  font-weight: 700;
  line-height: 64px;
  letter-spacing: .21px;
  margin-bottom: 20px;
}

.description {
  font-size: 22px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: .37px;
  margin-bottom: 20px;
}

.devices-btn {
  font-size: 14px;
  font-weight: 700;
  line-height: 1.25;
  letter-spacing: .5px;
  background-color: #26262d;
  border: 0;
  border-radius: 2px;
  padding: 20px 50px;
  color: white;
}
