<form [formGroup]="parentFormGroup">
  <mat-form-field>
    <mat-label>TMDB API Key</mat-label>
    <input matInput type="text" placeholder="TMDB key" name="tmdb_key" formControlName="tmdb_key" required>
    <mat-error *ngIf="parentFormGroup.get('tmdb_key')?.errors?.['required']">API key is required.</mat-error>
    <mat-error *ngIf="!parentFormGroup.get('tmdb_key')?.errors?.['required'] && parentFormGroup.get('tmdb_key')?.errors?.['minlength']">API key must be at least {{ apiKeyMinLength }} characters.</mat-error>
  </mat-form-field>
  
  <mat-form-field>
    <mat-label>Select a role</mat-label>
    <mat-select formControlName="role" [errorStateMatcher]="matcher">
      <mat-option>Clear</mat-option>
      <mat-option value="USER">User</mat-option>
      <mat-option value="ADMIN">Admin</mat-option>
      <mat-option value="SUPERUSER">Superuser</mat-option>
    </mat-select>
    <mat-error *ngIf="!parentFormGroup.hasError('required')">Role is required.</mat-error>
  </mat-form-field>
</form>
